*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
  flex-direction: column;
}
.footer {
  background-color: #414040;
   color: #fff;
  text-align: center;
  padding: 20px 0;


}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: #A18D6D;
  padding: 15px 30px;
  z-index: 1000;
  height: 90px;
}
.logo {
  justify-self: center;
  font-size: 50px;
  margin: 0;
}
.nav {
  justify-self: end;
  display: flex;
  gap: 14px;
  align-items: center;
  font-size: 22px;
}
.nav a {
    position: relative;
    text-decoration: none;
    color: #000;
}
.nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;               
  width: 0;
  height: 2px;
  background-color: #fff;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.nav a:hover::after,
.nav a.active::after {
  width: 60%;             
}
.buton {
  background: #9BB4C0;
  color: #fff;
  border: none;
  padding: 20px 20px;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;
}
.buton:hover {
  background: #0d6790;
}
.main {
  flex: 1;
}
.iletisim {
  background-color: rgb(135, 134, 134);
}
.main {
  background-color: white;
  margin-top: 95px;
}
.iletisim {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}
.container {
 background-color: #ffffff;
  width: 100%;
  max-width: 1050px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
  height: 700px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.container p {
  margin-bottom: 10px;
  font-size: 16px;
}
.container h3 {
  margin-top: 0;
}
.map {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden; /* köşeleri yuvarlar */
}

/* Harita iframe */
.map iframe {
  width: 100%;
  height: 450px;   /* KONUM YÜKSEKLİĞİ */
  border: 0;
}
.baslik {
  text-align: center;
  font-size: 30px;
  
}